@import "tailwindcss";
:root {
  /* color-scheme: light dark; */
  color-scheme: light ;
  font-family: system-ui, sans-serif;
}
@theme{
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --color-wbdark: #012;
}



.logo{
  border-radius: 20px;
  max-width: 200px;
}
