@extends('layouts.main')
@section('content') {
   
      <div class="flex justify-between items-center max-w-md mx-auto mt-20">
        <div class="bg-amber-50 flex flex-col pe-2">
          <input id="input-text" type="text px-2" class="border border-gray-300">
          <button id="sub" class="bg-gray-900 text-white mt-1 rounded-md py-0.5 text-xs">Submit message</button>
        </div>
        <div id="content-msg" class="border flex-1 rounded-md min-h-48 p-0.5">
          
        </div>
      </div>
 
}
