<div class="flex flex-col   bg-white text-gray-900 h-screen border-r border-gray-200  ">
    <a href="/" class="p-4 inline-flex items-center justify-center flex-col">
      <!-- <h2 class="text-lg font-semibold">Sidebar</h2> -->
      <img class="w-15 rounded-md" src="/images/warbler_logo.png" alt="">
      <span class="text-xs text-slate-400">WarblerJS</span>
    </a>
    <div class="text-xs text-gray-400 text-center">
      0.1.0
    </div>
    <nav class="flex-1 p-4 ">
      <ul class="flex flex-col gap-2 justify-center items-center">
        <li class="mb-2 w-full">
          <a href="/docs" class="w-full  py-2 px-4 rounded-md hover:bg-gray-200 inline-flex items-center flex-col gap-2">
  
            <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 3v4a1 1 0 0 1-1 1H5m4 8h6m-6-4h6m4-8v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z" />
            </svg>
  
            <span>Docs</span>
          </a>
        </li>
        <li class="mb-2 w-full">
          <a href="/api" class="w-full  py-2 px-4 rounded-md hover:bg-gray-600 inline-flex items-center flex-col gap-2">
  
            <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m8 8-4 4 4 4m8 0 4-4-4-4m-2-3-4 14" />
            </svg>
  
  
            <span>API</span>
          </a>
        </li>
  
        <li class="mb-2 w-full">
          <a href="/api" class="w-full  py-2 px-4 rounded-md hover:bg-gray-200 inline-flex items-center flex-col gap-2">
  
            <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13.5 8H4m0-2v13a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1h-5.032a1 1 0 0 1-.768-.36l-1.9-2.28a1 1 0 0 0-.768-.36H5a1 1 0 0 0-1 1Z" />
            </svg>
  
  
  
            <span>Resource</span>
          </a>
        </li>
        <li class="mb-2 w-full">
          <a href="/api" class="w-full  py-2 px-4 rounded-md hover:bg-gray-200 inline-flex items-center flex-col gap-2">
  
            <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.556 8.5h8m-8 3.5H12m7.111-7H4.89a.896.896 0 0 0-.629.256.868.868 0 0 0-.26.619v9.25c0 .232.094.455.26.619A.896.896 0 0 0 4.89 16H9l3 4 3-4h4.111a.896.896 0 0 0 .629-.256.868.868 0 0 0 .26-.619v-9.25a.868.868 0 0 0-.26-.619.896.896 0 0 0-.63-.256Z"/>
            </svg>
            
  
  
  
            <span>Blog</span>
          </a>
        </li>
        <li class="mb-2 w-full">
          <a href="/api" class="w-full  py-2 px-4 rounded-md hover:bg-gray-200 inline-flex items-center flex-col gap-2">
  
            <svg class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
            
            <span>Support</span>
          </a>
        </li>
      </ul>
    </nav>
  
  </div>