<!DOCTYPE html>
<html lang="en" data-page="login">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/app.css">
    <script type="module" src="/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>

<body>
   <div class="container max-w-xs mx-auto mt-36">
    <div class="bg-gray-50 p-6 space-y-2">
        <form id="login-form" method="post" action="/auth/login" class="mx-auto flex max-w-md flex-col gap-4 rounded-lg border border-slate-200 bg-white p-6 shadow-md">
            {{{ csrfField }}}
            <div>
              <label for="email">Your Email address</label>
              <input id="email" name="email" class="input-form">
              <span data-wbr-error-for="email" class="text-sm text-red-700"></span>
            </div>
      
            <div>
              <label for="password">Password</label>
              <input id="password" name="password" type="password" class="input-form">
              <span data-wbr-error-for="password" class="text-sm text-red-700"></span>
            </div>
            <div>
                <label class="flex items-center gap-2">
                    <input name="remember" type="checkbox">
                    Remember me
                  </label>
            </div>

            <button type="submit" class="btn-primary">
              Login
            </button>
          </form>

    </div>
 
   </div>

</body>

</html>