<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/app.css">
    <script type="module" src="/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page ff</title>
</head>

<body>
   <div class="container max-w-md mx-auto mt-36">
    <div class="bg-gray-50 p-6 space-y-2">
        <p class="sdw p-0.5 rounded-md text-base pl-3 bg-sky-600 text-wbdark">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
            ducimus quisquam harum dolores error nisi neque cupiditate animi vitae deleniti, amet blanditiis vel aliquid
            officia dicta minima aut nemo esse?</p>
        <p class="text-xs bg-yellow-500 text-slate-950 hello">Small text reload</p>
        <p class="text-sm bg-slate-900 text-white">Te LLLLLxt</p>
        <p class="text-xl bg-green-300">Large text</p>

    </div>
    <div class="space-y-2 sdw rounded-md p-4 bg-slate-50">
        <label class="label-form">Email</label>

        <div>
            <input class="input-form">
            <span class="form-error">Required</span>
        </div>

        <textarea class="textarea-form"></textarea>
        
        <button class="btn-primary">Save form to</button>
    </div>
   </div>

</body>

</html>