<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/app.css">
    <script type="module" src="/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page ff</title>
</head>

<body>
   <div class="container max-w-xs mx-auto mt-36">
    <div class="bg-gray-50 p-6 space-y-2">
        <form id="register-form" method="post" action="/auth/register" class="mx-auto flex max-w-md flex-col gap-4 rounded-lg border border-slate-200 bg-white p-6 shadow-md">
            {{{ csrfField }}}
            <div>
              <label for="email">Your Email address</label>
              <input id="email" name="email" class="input-form">
              <span data-wbr-error-for="email" class="text-sm text-red-700"></span>
            </div>
      
            <div>
              <label for="password">Password</label>
              <input id="password" name="password" type="password" class="input-form">
              <span data-wbr-error-for="password" class="text-sm text-red-700"></span>
            </div>
      
            <div>
              <label for="confirm-password">Confirm password</label>
              <input id="confirm-password" name="confirmPassword" type="password" class="input-form">
              <span data-wbr-error-for="confirmPassword" class="text-sm text-red-700"></span>
            </div>

      
            <div data-wbr-form-errors class="text-sm text-red-700"></div>
      
            <button type="submit" class="btn-primary">
              Login
            </button>
          </form>

    </div>
 
   </div>

</body>

</html>