# development,production
APP_ENV="development"
APP_HOST="0.0.0.0"
APP_HTTTP_PORT=3000

DB_HOST=0.0.0.0
DB_PORT=5432
DB_DATABASE=warbler_playground
DB_USERNAME=warbler
DB_PASSWORD=warbler
QUERY_BATCH_SIZE=50000
DB_LOG_QUERIES=false
MAIL_HOST="host.gmail.com"
MAIL_PORT="465"
# // true for port 465, false for other ports
MAIL_SECURE="true"
MAIL_USERNAME="user@gmail.com"
MAIL_PASSWORD="password"

# logger
WARBLER_HTTP_PROFILING="false"
WARBLER_HTTP_PROFILING_SUMMARY="false"
LOG_REQUESTS="true"
LOG_RUNTIME="false"
LOG_TRANSPORTS="true"
LOG_WEBSOCKET="true"
LOG_ERRORS="true"
LOG_FATAL="true"
LOG_STARTUP="true"
LOG_DEBUG="true"
LOG_CONSOLE="true"
LOG_FILE="true"
LOG_FILE_PATH="storage/logs"
LOG_RETENTION_DAYS="true"
